<div>
  <div class="banner" >
    <div class="container">
      <h1><i class="fas fa-video"></i>My Bookmark</h1>
      <p>Find a movie to watch in the top chart.</p>
      <div class="mt-4 btn-div"><%= link_to "Create a new movie list", new_list_path, class: "btn btn-warning" %></div>
    </div>
  </div>
  <div class="cards container my-5">
    <h2>My lists</h2>
    <% @lists.each do |list| %>
      <div class="card-category">
        <%= link_to list.name, list_path(list), class: "btn btn-outline-warning", padding: "100px" %>
      </div>
    <% end %>
  </div>
</div>
